@model TicketMaster.Areas.Admin.ViewModels.Ticket.CreateTicketBindingModel
@{
    ViewData["Title"] = "CreateTicket";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create Ticket</h1>

<form enctype="multipart/form-data" asp-area="Admin" asp-controller="Ticket" asp-action="CreateTicket" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group" hidden>
        <label asp-for="AuthorId"></label>
        <input asp-for="AuthorId" readonly class="form-control"/>
        <span asp-validation-for="AuthorId" class="text-danger"> </span>
    </div>
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Descripton"></label>
        <input asp-for="Descripton" class="form-control" />
        <span asp-validation-for="Descripton" class="text-danger"></span>
    </div><div class="form-group">
        <label> Date:</label>
        <input asp-for="SendOn" value="@DateTime.Now" />
        <span asp-validation-for="SendOn" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Priority"></label>
        <select asp-for="Priority" class="form-control" asp-items="@Html.GetEnumSelectList<Priority>()"></select>
        <span asp-validation-for="Priority"></span>
    </div>
    <div class="form-group">
        <label asp-for="ProjectId"></label>
        <select asp-for="ProjectId" asp-items="@ViewBag.ProjectId"></select>
    </div>
    <button type="submit" asp-area="Admin" asp-controller="Ticket" asp-action="CreateTicket" class="btn btn-primary" >Create Ticket</button>
    <a asp-area="Admin" asp-controller="Ticket" asp-action="DisplayAllSendTickets"> Back to list</a>

</form>

