@model TicketMaster.Areas.Admin.ViewModels.Ticket.DisplayAllTicketWorkingTimesViewModel
@{
    ViewData["Title"] = "DisplayAllTicketWorkingTimes";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>All Ticket Working Times</h1>

<div class="row">
    <div>
        <div class="card">
            <div class="card-header">
                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 300px;">

                        <input type="text" id="myInput" onkeyup="myFunction(0)" class="form-control float-right" placeholder="Search by id...">

                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover">

                    <thead class="text-nowrap">
                        <tr>
                            <th>Id</th>
                            <th>Work Span</th>
                            <th>Ticket Id</th>
                        </tr>
                    </thead>
                    <tbody id="myTableBody">
                        @foreach (var wt in Model.WorkingTimes)
                        {
                            <tr>
                                <td>@wt.Id</td>
                                <td>@wt.WorkingSpan</td>
                                <td>@wt.TicketId</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
@section Scripts {
    <script>

        $(document).ready(myFuction(1));
    </script>
}